.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 1800px;
  margin: 0 auto;
}

.todo_cont {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;

  border-radius: 20px;
}

.hotspot {
  position: absolute;
  border: none;
  /* background: rgba(255, 0, 0, 0.3); */
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.popup-content {
  width: 700px;
  z-index: 1000;
  padding: 20px;
  height: 400px;
  max-width: 1000px;
  border-radius: 8px;
  background-color: #c99273;
  border: 5px solid #987762;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: "Courier New", monospace;
  text-align: center;
}

.popup-title {
  min-width: 688px;
  margin-top: -50px;
  position: absolute;
  background-color: #c99273;
  border: 5px solid #987762;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  white-space: nowrap;
  z-index: 1001;
}

.popup-info {
  font-size: 14px;
  margin-top: 50px;
  font-weight: normal;
}

.close {
  color: #000;
  float: right;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}

.retro-text {
  font-size: 16px;
  line-height: 1.5;
  color: white;
  font-weight: bolder;
}

/* .popup-content h2 {
  color: black;
} */

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
