/* Mapa.css */
.todo_cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.image-container {
  position: relative;
  width: 100%; /* Ocupa a largura total disponível */
  max-width: 100%;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/* Os Hotspots usam %, então eles acompanham o tamanho da imagem automaticamente */
.hotspot {
  position: absolute;
  border: none;
  background: rgba(255, 0, 0, 0); /* Invisível por padrão */
  cursor: pointer;
  z-index: 5;
}

/* Estrutura do Modal */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.popup-content {
  position: relative;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #c99273;
  border: 4px solid #987762;
  border-radius: 15px;
  padding: 20px;
  overflow-y: auto; /* Permite scroll se o texto for grande */
  z-index: 10001;
  text-align: center;
}
@keyframes modalShow {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.popup-header {
  padding: 15px;
  background: #987762;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.retro-text {
  margin: 0;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.close-icon {
  font-size: 35px;
  color: white;
  cursor: pointer;
  line-height: 1;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  /* background: #000; */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-body {
  padding: 20px;
  overflow-y: auto;
  color: #2c1b10;
  font-family: "Courier New", monospace;
  font-weight: bold;
}