@media (max-width: 768px) {
  .todo_cont {
    width: 100%;
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    transform: rotate(90deg) scale(1.3);
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }

  .popup-content {
    width: 700px;
    z-index: 1000;
    padding: 20px;
    height: 400px;
    max-width: 1000px;
    border-radius: 8px;
    background-color: #c99273;
    border: 5px solid #987762;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: "Courier New", monospace;
    text-align: center;
  }
}
