/* mobile.css */
@media (max-width: 768px) {
  .todo_cont {
    overflow: hidden;
    /* background-color: #242424; */
  }

  /* Rotaciona apenas o mapa para preencher a tela na vertical como se fosse landscape */
  .image-container {
    transform: rotate(90deg);
    width: 180vh; /* Usa a altura da viewport como largura */
    max-width: none;
  }

  .popup-content {
    width: 95%;
    max-height: 80vh;
  }

  .retro-text {
    font-size: 0.9rem;
  }

  .popup-body {
    font-size: 14px;
    padding: 15px;
  }
}